@page
@using psyrdv.Data
@model BookingsModel
@{
    ViewData["Title"] = "RDV";
}

<h1>Rendez-Vous</h1>

<p>
    <a class="btn btn-primary" asp-page="AddBooking">Nouveau Rendez-Vous</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Heure</th>
            <th>Patient</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Booking booking in Model.Bookings)
        {
            <tr>
                <td>@booking.Date.ToShortDateString()</td>
                <td>@booking.Start.ToString("HH:mm")</td>
                
                <td>@Model.PatientName(booking)</td>
                <td>
                    <a class="btn btn-secondary btn-sm disabled" asp-page="/EditBooking" asp-route-id="@booking.Id" aria-disabled="true" tabindex="-1">Modifier</a>
                    <a class="btn btn-danger btn-sm" asp-page="/DeleteBooking" asp-route-id="@booking.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>